[submodule "Slayers123 | TD8FLkH5msl7XWACCF7a"]
	path = Slayers123 | TD8FLkH5msl7XWACCF7a
	url = https://github.com/Sha7hid/Sathacks
[submodule "Fluttereesh | nyFtXUBgFDThc3QbSBCU"]
	path = Fluttereesh | nyFtXUBgFDThc3QbSBCU
	url = https://github.com/VinuBalagopalAP/Twitter-API
[submodule "Hexclan | 1xt1WxAVvWUikCau2sHF"]
	path = Hexclan | 1xt1WxAVvWUikCau2sHF
	url = https://github.com/nairadethya2208/Hexclan
[submodule "Solo | ucMt9TKKgLOpwAqPRvNe"]
	path = Solo | ucMt9TKKgLOpwAqPRvNe
	url = https://github.com/vivinkv6/Twitter-API
[submodule "Phizdi | gvyEmCJ3GPLkYqmwqQ9d"]
	path = Phizdi | gvyEmCJ3GPLkYqmwqQ9d
	url = https://github.com/DarkPhoenix2704/test
