[submodule "Slayers123 | TD8FLkH5msl7XWACCF7a"]
	path = Slayers123 | TD8FLkH5msl7XWACCF7a
	url = https://github.com/Sha7hid/Sathacks
[submodule "Fluttereesh | nyFtXUBgFDThc3QbSBCU"]
	path = Fluttereesh | nyFtXUBgFDThc3QbSBCU
	url = https://github.com/VinuBalagopalAP/Twitter-API
[submodule "Hexclan | 1xt1WxAVvWUikCau2sHF"]
	path = Hexclan | 1xt1WxAVvWUikCau2sHF
	url = https://github.com/nairadethya2208/Hexclan
[submodule "Solo | ucMt9TKKgLOpwAqPRvNe"]
	path = Solo | ucMt9TKKgLOpwAqPRvNe
	url = https://github.com/vivinkv6/Twitter-API
[submodule "Phizdi | gvyEmCJ3GPLkYqmwqQ9d"]
	path = Phizdi | gvyEmCJ3GPLkYqmwqQ9d
	url = https://github.com/DarkPhoenix2704/test
[submodule "stdayyo | xgtd45fmrlEBOWijQp1f"]
	path = stdayyo | xgtd45fmrlEBOWijQp1f
	url = https://github.com/mdthegamer/tinkerhub-saturday-hacknight-twitter-api
[submodule "Peverpy | VDXqsh9JEntVZdAszpr5"]
	path = Peverpy | VDXqsh9JEntVZdAszpr5
	url = https://github.com/aswinsankarpd/Twitter-API
[submodule "Peverpy | bbg72A9fdkg0fgc449Eo"]
	path = Peverpy | bbg72A9fdkg0fgc449Eo
	url = https://github.com/aswinsankarpd/Twitter-API
[submodule "Technomaniac | mIhspr1CwwWeoGRW9grV"]
	path = Technomaniac | mIhspr1CwwWeoGRW9grV
	url = https://github.com/Dhanush17raj/api_hacknight.git
[submodule "greendrake | JCeVf7L5OMNlxHSDyLnJ"]
	path = greendrake | JCeVf7L5OMNlxHSDyLnJ
	url = https://github.com/mellofordev/hacknight
[submodule "Tubelight | AG0yxmHteyBz5HEH3Znz"]
	path = Tubelight | AG0yxmHteyBz5HEH3Znz
	url = https://github.com/twilighty-abhi/tubelight.irl
[submodule "Locators | PKdAAoYViorXgemrpABN"]
	path = Locators | PKdAAoYViorXgemrpABN
	url = https://github.com/unniznd/TwiiterAPI
[submodule "nikiljos | tImxlbMQBk9LxIEEQfnF"]
	path = nikiljos | tImxlbMQBk9LxIEEQfnF
	url = https://github.com/nikiljos/shn-twitter-api
[submodule "Twittr | rBeM9yZ1c8Np8ZlF7Avy"]
	path = Twittr | rBeM9yZ1c8Np8ZlF7Avy
	url = https://github.com/AswinAsok/twittr
[submodule "Sparrow | Gl8DL6xwe73uR5lwjdYf"]
	path = Sparrow | Gl8DL6xwe73uR5lwjdYf
	url = https://github.com/Rithingithub/Sparrow
[submodule "BugBusters | 3tuOLxIw6lMpbFESMEIz"]
	path = BugBusters | 3tuOLxIw6lMpbFESMEIz
	url = https://github.com/aravinds-arv/twizdom
[submodule "Tweetlytics | iAgAqN4YOMcIbeFx2OBC"]
	path = Tweetlytics | iAgAqN4YOMcIbeFx2OBC
	url = https://github.com/sreehari2003/tweetlytics
[submodule "Technogeeks | hX7yy5bO96WviQ74hcil"]
	path = Technogeeks | hX7yy5bO96WviQ74hcil
	url = https://github.com/Innovative-Hub/SaturdayHackNight-THT202
[submodule "CETHackNight | yQj5XJBsbWdpdzUQegr7"]
	path = CETHackNight | yQj5XJBsbWdpdzUQegr7
	url = https://github.com/Ashik-Jose/CETHackNight
[submodule "TrojanWave | cl2rxq2SOT0KXfnntf5y"]
	path = TrojanWave | cl2rxq2SOT0KXfnntf5y
	url = https://github.com/ABHILASHHARI1313/SaturdayNight
[submodule "ShelterCoders | lsJDEhgDtm3SPJdXi9L7"]
	path = ShelterCoders | lsJDEhgDtm3SPJdXi9L7
	url = https://github.com/Anirudh-A-V/Twitter_API.git
[submodule "TwitterAPIsias | AAmv8odmAcIko1trdgjT"]
	path = TwitterAPIsias | AAmv8odmAcIko1trdgjT
	url = https://github.com/KdotMShah/TwitterAPI.git
